*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 60px 245px 60px 245px;
  font-family: "Open Sans", sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;  
}

body div {
  margin-bottom: 60px;
}

/* wrapper */
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

/* Dark theme */
body.dark {
  background-color: #121212;
  color: white;
}

/* Dark Theme Button Styles */
body.dark .nav-button {
  background-color: #414141;
  color: white;
}


/* navigation menu */
nav ul {
  display: flex;
  align-items: center;
  gap: 170px;
  list-style: none;
  justify-content: space-between;
}

nav a {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 69px;
  padding: 22px 70px;
  border-radius: 100px;
  color: white;
  background-color: black;
  transition: 0.3s;
  text-decoration: none;
  box-shadow: 0px 6px 9px 0px rgba(102, 102, 102, 0.25);
}

nav a:hover {
  box-shadow: 0px 10px 6px 6px rgba(102, 102, 102, 0.25);
}

/* Social icons fully filled inner */
.social-icons a svg {
  width: 40.5px;
  vertical-align: middle;
  transition: 0.3s ease-in-out;
}

.social-icons a svg:hover {
  opacity: 0.5;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

/* Social icons avoid underline */
.social-icons a{
  margin: 0 13px;
  text-decoration: none;
}



/* From Uiverse.io by satyamchaudharydev */
/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  min-width: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}


/* Main Section */
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 70px;
}

.intro h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 800;
  background: linear-gradient(101deg, #24FF4C 5.72%, #00B7FF 68.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content .tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(90deg, #24FF4C 0%, #00B7FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.techstack {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-top:  10px;
}

.techstack .title {
  text-decoration: underline 3px;
  text-align: center;
}

.techstack .list {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Notes Page's main section */

.note-content {
  max-width: 1110px;
  margin: 0 auto;
}

.note-content h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(#24FF4C 0%, #00B7FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note-content p {
  /* color: #000; */
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
}


/* sidebar navigation */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media (max-width: 1200px) {
  body {
    padding: 60px 20px 60px 20px;
  }

  nav ul {
    gap: 20px;
  }

  .social-icons {
    margin-top: 40px;
  }

  .note-content {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 20px;
    flex-direction: column;
  }

  .intro h1 {
    font-size: 42px
  }


  .slider {
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin-left: 0;
    margin-bottom: 10px;
  }

  nav ul li a {
    font-size: 14px;
    font-weight: 700;
    height: 69px;
    padding: 16px 50px;
  }

  .social-icons a svg {
    width: 30.5px;
  }
}

@media (max-width: 480px) {
  .intro {
    font-size: 14px;
  }

  .slider {
    width: 100%;
    height: auto;
  }

  /* Navigation Menu */
  /* nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
  } */

  .nav-button {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    height: 0px;
    padding: 0px 0px;
    border-radius: 100px;
    background-color: opacity;
    transition: 0.3s;
    text-decoration: underline;
  }

  .nav-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }

  /* Dark Theme Button Styles */
  body.dark .nav-button {
    color: black;
  }
}