*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 60px 245px;
  font-family: "Open Sans", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body div {
  margin-bottom: 20px;
}

/* wrapper */
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

/* Dark theme */
body.dark {
  background-color: #121212;
  color: white;
}

body.dark .nav-button {
  color: black;
}

/* Navigation Menu */
nav ul {
  display: flex;
  align-items: center;
  gap: 170px;
  list-style: none;
  justify-content: space-between;
}

nav a {
  font-size: 28px;
  font-weight: 700;
  height: 69px;
  border-radius: 100px;
  color: black;
  text-decoration: underline 2px;
  box-shadow: 0 6px 9px rgba(102, 102, 102, 0.25);
  transition: opacity 0.3s;
}

nav a:hover {
  opacity: 0.5;
}

.nav-button {
  border: none;
  box-shadow: none;
}


/* Social icons fully filled inner */
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 52px;
  gap: 26px;
}

.social-icons a {
  text-decoration: none;
}

.social-icons a svg {
  width: 40.5px;
  transition: opacity 0.3s;
}

.social-icons a svg:hover {
  opacity: 0.5;
}

/* Dark Mode Switch */
.switch {
  --width: 3.5em;
  --height: 2em;
  --icon-size: 1.4em;
  --offset: 0.3em;
  position: relative;
  width: var(--width);
  height: var(--height);
  min-width: 2em;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: #f4f4f5;
  border-radius: 30px;
  transition: 0.4s;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
}

.slider:before {
  content: "";
  position: absolute;
  height: var(--icon-size);
  width: var(--icon-size);
  border-radius: 50%;
  top: 50%;
  left: var(--offset);
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - var(--icon-size) - var(--offset));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 #a3dafb;
}

/* Main Section */
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 70px;
}

.intro h1 {
  font-size: 48px;
  font-weight: 800;
  background: linear-gradient(101deg, #24FF4C 5.72%, #00B7FF 68.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content .tagline {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(#24FF4C 0%, #00B7FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note-content h2,
#admin-h2 {
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(#24FF4C 0%, #00B7FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.techstack .title {
  font-size: 24px;
  font-weight: 400;
  text-decoration: underline 3px;
  text-align: center;
  margin-top: 10px;
}

.techstack .list {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

/* Notes Page's main section */
.note-content {
  max-width: 1110px;
  margin: 0 auto;
}

.note-content h2 {
  margin-top: 60px;
  font-size: 32px;
  font-weight: 700;
  background: linear-gradient(#24FF4C 0%, #00B7FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note-content p {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
}

/* Forms */
#admin-h2 {
  margin-top: 40px;
}

form {
  width: 400px;
  padding: 20px;
  border-radius: 12px;
}


.login-username, .login-password,
.save-note-title, .save-note-pg {
  position: relative;
}


.input {
  border: 1.5px solid #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1.2rem;
  font-size: 1.2rem;
  width: 100%;
  color: #212121;
  transition: border 0.15s;
}

.input:focus,
.input:valid {
  outline: none;
  border-color: #1a73e8;
}

.user-label {
  position: absolute;
  left: 15px;
  color: #616161;
  transform: translateY(1rem);
  transition: 0.15s;
}

.input:focus ~ label,
.input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background: #fff;
  padding: 0 0.2em;
  border-radius: 12px;
}

button {
  font-size: 1.5rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

/* New Note Page */
.new-note-form {
  margin-top: 40px;
}

/* Media Queries */
@media (max-width: 1200px) {
  body {
    padding: 60px 20px;
  }

  nav ul {
    gap: 20px;
  }

  .note-content {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 20px;
    flex-direction: column;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .social-icons a svg {
    width: 30.5px;
  }
}

@media (max-width: 480px) {
  .intro {
    font-size: 14px;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-button {
    font-size: 24px;
  }
}
