{{template "base" .}}

{{define "main"}}
    <!-- Content Section -->
    <main>
        <section class="note-content">
            {{range .Notes}}
                <div class="card">
                    <h2 class="title">#{{.ID}} - {{.Title}}</h2>
                    <p>{{.Content}}</p>
                </div>
            {{end}}
        </section>
    </main>
{{end}}

